@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
      font-family: "Google Sans", sans-serif;
      scroll-behavior: smooth;
      color: whitesmoke
}
@import "tailwindcss";




.text {
  fill: whitesmoke;
  font-size: 24px;
}
.dot {
  transition: all 0.3s ease;
  transform-origin: center;
  transform-box: fill-box; /* Crucial for SVG scaling */
}

.text:hover ~ .dot {
  fill: red;
  fill-opacity: 1;
  transform: scale(1.5);
}